.dowload_app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#2c2c2c,#363636,#424242,#424242,#424242);
    min-height: 100vh;
}

.dowload_app h1{
    text-align: center;
    font-size: 1rem;
    color: rgb(87, 255, 255);
    padding: 30px;
}

.dowload_app p{
    text-align: center;
    font-size: .84rem;
    color: rgb(255, 255, 255);
    padding: 30px;
}

.dowload_app > img{
    max-width: 400px;
}

.dowload_app_dowload{
    display: flex;
    align-items: center;
    background-color: rgb(8, 8, 8);
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    justify-content: start;
    text-align: left;
}

.dowload_app_google_play_logo{
    width: 70px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    /* background-color: red; */
}

.dowload_app_dowload :is(h4, h2){
    color: rgb(255, 255, 255);
}

.dowload_app_dowload h4{
    font-size: .84rem;
}

.dowload_app_dowload h2{
    font-size: 1.6rem;
}