
#technologies{
    background: var(--secondary-gradient);
    padding-bottom: 150px;
}

#technologies h2{
    margin-bottom:35px;
    color: #fff;
}

#technologies .swiper{
    padding:40px;
}

.slide{
    /* align-self: center; */
    font-size: 4rem;
    color: #fff;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slide small{
    font-size: .8rem;
    text-align: center;
    /* font-size: 4rem;
    color: #fff; */
}

#technologies .swiper .swiper-button-prev{
    left: 0;
}

.swiper-pagination-bullet{
    background: rgb(225, 225, 225) !important;
}
